{{!-- **********************************************************************************
temporary crud so I can test the file path and get to the forms to test entries/db
********************************************************************************** --}}
<div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/new_members">New members</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/new_opportunities">New Events</a>
      </div>
       <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/opportunities_sign_up">Event Sign Up</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 testData">
      </div>
    </div>
  </div>
{{!-- **********************************************************************************
temporary crud so I can test the file path and get to the forms to test entries/db
********************************************************************************** --}}
