<div class="container events">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/new_members">New members</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/new_events">New Events</a>
      </div>
       <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/events_sign_up">New Events</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 event-container">
      </div>
    </div>
  </div>