{{!-- ********************************************************************************** temporary crud so I can test the
file path and get to the forms to test entries/db **********************************************************************************
--}}
<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-light" href="/new_members">New members</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-light" href="/new_opportunities">New Events</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-light" href="/opportunities_sign_up">Event Sign Up</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-light" href="/login">Log In</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-light" href="/logout">Log Out</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 testData" id="opportunityCard">
      <ul>
        {{#each opportunities}}
        <li>
          <div data-id="{{id}}">
            {{!-- onmouseover="" onclick="" --}}
            <h2>{{this.opportunity_name}}</h2>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
 </div> 

  {{!-- ********************************************************************************** temporary crud so I can test the
  file path and get to the forms to test entries/db **********************************************************************************
   --}}