
<form id="memberLoginForm" name="login" method="post" action="login">
  <label for="email">Email Address</label>
  <input class="text" id="email" name="email" type="text" />
  <label for="password">Password</label>
  <input name="password" id="password" type="password" />
  <button class="btn" type="button">"Log In"</button>>
</form>
