
<form id="memberLoginForm" name="login" method="post" action="login">
  <label for="email">Email Address</label>
<<<<<<< HEAD
  <input class="text" id="email" name="email" type="text" />
  <label for="password">Password</label>
  <input name="password" id="password" type="password" />
  <button class="btn" type="submit">login</button>
=======
  <input class="text" id="email"name="email" type="text" />
  <label for="password">Password</label>
  <input name="password" id="password" type="password" />
  <button class="btn" type="button">"Log In"</button>>
>>>>>>> bc1349b4622227b7d0babf18c09ba38ae1138e06
</form>
