<div id="container" style="background-color:#fed136">

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" id="memberEnrollment" style="border:solid 2px grey; background-color:white">
            <h1 class="display-4" style="border-bottom:dotted 2px grey; padding:8px">Member Enrollment Form</h1>        
            <form id="signup" name="signup">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control form-control-sm" name="email" id="email" placeholder="jDoe@email.com" onfocus="this.placeholder=''">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label for="password">Password</label>
                                <input type="text" class="form-control form-control-sm" name="password" id="password" placeholder="Password" onfocus="this.placeholder=''">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control form-control-sm" name="first_name" id="firstName" placeholder="First Name" onfocus="this.placeholder=''"
                                    value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control form-control-sm" name="last_name" id="lastName" placeholder="Last Name" onfocus="this.placeholder=''">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label for="phone">Phone Number</label>
                                <input type="tel" class="form-control form-control-sm" name="phone" id="phone" placeholder="123-456-7890" onfocus="this.placeholder=''">
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="photo">URL address of your photo</label>
                        <input type="url" class="form-control form-control-sm" name="member_photo_Url" id="photoUrl" placeholder="URL Address" onfocus="this.placeholder=''">
                    </div>

                    <div class="row">
                        {{!-- <div class="col-sm-6">
                            
                        </div> --}}
                        <div class="col-sm-12">
                            <label for="inOrOut">Inside or Outside Preference</label>
                            <select class="form-control form-control-sm" id="selectInOrOut">
                                <option selected>Choose...</option>
                                <option value="1">Inside</option>
                                <option value="2">Outside</option>
                                <option value="3">Both</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <label for="skills">Special Skills - Check all that apply</label>
                        <div class="row" style="margin-top:-10px; margin-bottom: 10px">
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="cooking">Cooking
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="gardening">Gardening
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="painting">Painting
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="carpentry">Carpentry
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="plumbing">Plumbing
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="electrical">Electrical
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="publicRelations">Public Relations
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="marketing">Marketing
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="fundRaising">Fund Raising
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="programming">Programming
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="sales">Sales
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="skills" value="teaching">Teaching
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="message" style="color:red"></div>
                    <input class="btn" style="background-color: grey; color: white; width: 180px; height: 40px; font-size:18px;" type="submit" value="Sign Up" />
                </div>
            </form>
        </div>
    </div>
</div>