<div id="container" style="background-color: #fed136">

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" id="opportunitySignUp" style="border:solid 2px grey; background-color:white">
            <h1 class="display-4" style="border-bottom:dotted 2px grey; padding:10px">Event Sign-Up Form</h1>
            <form>
                <div class="form-group">

                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label for="userName">User Name</label>
                                <input type="text" class="form-control form-control-sm" name="userName" id="userName" placeholder="UserName" onfocus="this.placeholder=''"
                                    value="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label for="opportunityName">Event Name</label>
                                <input type="text" class="form-control form-control-sm" name="opportunity_name" id="opportunityName" placeholder="Event Name" onfocus="this.placeholder=''">
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="address">Address</label>
                        <input type="text" class="form-control form-control-sm" name="address" id="address" placeholder="1234 Main St." onfocus="this.placeholder=''">
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label for="city">City</label>
                                <input type="text" class="form-control form-control-sm" name="city" id="city" placeholder="City" onfocus="this.placeholder=''">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div>
                                <label for="state">State</label>
                                <select class="form-control form-control-sm" id="selectState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option value="AL">AL</option>
                                    <option value="AK">AK</option>
                                    <option value="AZ">AZ</option>
                                    <option value="AR">AR</option>
                                    <option value="CA">CA</option>
                                    <option value="CO">CO</option>
                                    <option value="CT">CT</option>
                                    <option value="DE">DE</option>
                                    <option value="FL">FL</option>
                                    <option value="GA">GA</option>
                                    <option value="HI">HI</option>
                                    <option value="ID">ID</option>
                                    <option value="IL">IL</option>
                                    <option value="IN">IN</option>
                                    <option value="IA">IA</option>
                                    <option value="KS">KS</option>
                                    <option value="KY">KY</option>
                                    <option value="18">LA</option>
                                    <option value="ME">ME</option>
                                    <option value="MD">MD</option>
                                    <option value="MA">MA</option>
                                    <option value="MI">MI</option>
                                    <option value="MN">MN</option>
                                    <option value="MS">MS</option>
                                    <option value="MO">MO</option>
                                    <option value="MT">MT</option>
                                    <option value="NE">NE</option>
                                    <option value="NV">NV</option>
                                    <option value="NH">NH</option>
                                    <option value="NJ">NJ</option>
                                    <option value="NM">NM</option>
                                    <option value="NY">NY</option>
                                    <option value="NC">NC</option>
                                    <option value="ND">ND</option>
                                    <option value="OH">OH</option>
                                    <option value="OK">OK</option>
                                    <option value="OR">OR</option>
                                    <option value="PA">PA</option>
                                    <option value="RI">RI</option>
                                    <option value="SC">SC</option>
                                    <option value="SD">SD</option>
                                    <option value="TN">TN</option>
                                    <option value="TX">TX</option>
                                    <option value="UT">UT</option>
                                    <option value="VT">VT</option>
                                    <option value="VA">VA</option>
                                    <option value="WA">WA</option>
                                    <option value="WV">WV</option>
                                    <option value="WI">WI</option>
                                    <option value="WY">WY</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <label for="zip">Zip Code</label>
                                <input type="number" class="form-control form-control-sm" name="zip" id="zip" placeholder="12345" onfocus="this.placeholder=''">
                            </div>
                        </div>
                    </div>

                    {{!-- <div class="row">
                        <div class="col-sm-6">
                            <label for="onceRecur">Sign up for One Event or Recurring Event</label>
                            <select class="form-control form-control-sm" id="selectFrequency">
                                <option selected>Choose...</option>
                                <option value="1">Once</option>
                                <option value="2">Recurring</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="date">Start Date if Recurring Event</label>
                            <input type="date" class="form-control form-control-sm" name="startDate" id="startDate" placeholder="MM/DD/YY" onfocus="this.placeholder=''">
                        </div>
                     </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <label for="startTime">Start Time</label>
                            <input type="time" class="form-control form-control-sm" name="startTime" id="startTime" placeholder="HH:mm" onfocus="this.placeholder=''">
                        </div>
                        <div class="col-sm-4">
                            <label for="endTime">End Time</label>
                            <input type="time" class="form-control form-control-sm" name="endTime" id="endTime" placeholder="HH:mm" onfocus="this.placeholder=''">
                        </div>
                    </div>

                    <div>
                        <label for="inOrOut">Inside or Outside Preference if Applicable</label>
                        <select class="form-control form-control-sm" id="selectInOrOut">
                            <option selected>Choose...</option>
                            <option value="1">Inside</option>
                            <option value="2">Outside</option>
                            <option value="3">Both</option>
                        </select>
                    </div>
                    --}}
                    <button class="btn" style="background-color: grey; color: white; width: 180px; height: 40px; font-size:18px;" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>