{{!-- <div class="row filter-bar my-5">
    <button type="button" class="filter show-all" onclick="filterSelection('all')"> {{Show All}}</button>
    <button type="button" class="filter categories" onclick="filterSelection('carpentry')">{{Category}}</button>
</div> --}}


<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: rgb(19, 18, 18)">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">My Volunteer Events</a>
        {{!--
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button> --}}
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/new_opportunities">Post New Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" data-toggle="modal" data-target="#memberProfile">Member Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Volunteer Opportunities</h2>
            </div>
        </div>
        
        
        {{!-- <form>
            
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="skills" value="cooking">Cooking
                </label>
            </div>
            <input type="checkbox" id="check" onclick="checked()" style="width:20px;height:20px;" />
          <input type="checkbox" class="form-check-input" name="inOut" value="inOut">InOut
        </form>  --}}
        
        
        <div class="row">
            {{#each opportunities}} {{> opportunity}} {{/each}}
        </div>
    </div>
</section>

<!-- Footer -->
<footer style="background-color: #fed136; max height 50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Philadelphhia Volunteer 2018</span>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
                <p style="color: black; font-weight:300">Developers: Anthony Elliot / Paula MacTavish / Alexa Stefanou / Dirk Wiggins</p>
            </div>
        </div>
    </div>
</footer>

<!-- Modal Template for Portfolio -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Graffitti Cleanup</h2>
                            <p class="item-intro text-muted">Northern Liberties</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/Graffiti-Removal.jpg" alt="">
                            <p>On Saturday June 23 we'll be cleaning up graffiti at 3rd and Spring Garden. All cleaning supplies
                                will be provided. If you have gloves and water proof boots please bring those. Light refeshments
                                will be served.</p>
                            <ul class="list-inline">
                                <li>Date: June 23, 2018</li>
                                <li>Time: 1:00PM</li>
                                <li>Community Service Hours: No</li>
                            </ul>

                            <a class="btn btn-primary" href="/opportunities_sign_up">Event Sign Up</a>

                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Template for Member Profile -->
<div class="portfolio-modal modal fade" id="memberProfile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Member Details Go Here -->
                            <h2 class="text-uppercase">Member Profile</h2>
                            {{!--
                            <p class="item-intro text-muted">Northern Liberties</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/Graffiti-Removal.jpg" alt="">
                            <p>On Saturday June 23 we'll be cleaning up graffiti at 3rd and Spring Garden. All cleaning supplies
                                will be provided. If you have gloves and water proof boots please bring those. Light refeshments
                                will be served.</p>
                            <ul class="list-inline">
                                <li>Date: June 23, 2018</li>
                                <li>Time: 1:00PM</li>
                                <li>Community Service Hours: No</li>
                            </ul> --}}

                            <a class="btn btn-primary" href="/member_upDate">Edit Member Profile</a>

                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>