<div class="row filter-bar my-5">
    <button type = "button" class ="filter show-all" onclick="filterSelection('all')"> {{Show All}}</button>
    <button type = "button" class ="filter categories" onclick="filterSelection('carpentry')">{{Category}}</button>
</div>

